*{
    margin: 0;
    padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
}
:root{
    --header-font:"Bricolage Grotesque", sans-serif;
    --main-font:"Outfit", system-ui;
    --highlight-font:"Playwrite GB J", cursive;
    --head-font-size: 3rem;
    --text-color: black;
    --highlight-color:white;
    --home-header-size:10rem;
    --body-background: rgb(235, 242, 245);
    --nav-backgroud: rgb(223, 234, 240);
}
html, body{
    overflow-x: hidden;
}
body{
    width: 100%;
    background-color:var(--body-background);
    min-height: 100vh;
}
.topic{
    font-family: var(--header-font);
    text-align: center;
    margin-top: 4rem;
    font-weight: 100;
    font-size: var(--head-font-size);
}

/* nav-bar */
.nav-bar{
    width: fit-content;
    height: 4rem;
    position: fixed;
    bottom: 2%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: var(--nav-backgroud);
}
.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-wrapper a{
    font-size: 1.5rem;
}
.nav-wrapper i{
    color: black;
    padding: .5em;
    margin: .5em;
}
.active i{
    background-color: var(--highlight-color);
    border-radius: 35%;
    transition: .5s ease;
}

/*  */
#home{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
}
.home-wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.home-container{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 50rem;
    justify-content: center;
    align-items: center;
}
.home-container i{
    display: none;
    font-size: var(--head-font-size);
}
.home-container h2{
    font-family: "Playwrite GB J", cursive;
    text-transform: capitalize;
    display: none;
}
.home-container img{
    width: 90%;
    filter: grayscale(1);
    z-index: 1;
    transition: .5s ease;
}
.home-container img:hover{
    opacity: .5;
}
.home-container h1,.home-container span{
    color: var(--text-color);
    font-family: var(--header-font);
    position: absolute;
    font-size:var(--home-header-size);
}
.home-container h1{
    top: 40%;
    left: 10%;
}
.home-container span{
    top: 40%;
    left: 62%;
}


/* main */
/* reused class */
.container{
    background-color: white;
    padding: 1rem;
    font-family: var(--main-font);
    border-radius: 20px;
}
.container h3{
    font-family: var(--header-font);
    background-color: gray;
    display: inline-block;
    padding: .5rem;
    border-radius: 20px;
    color: white;
    margin-bottom: 1rem;
}
/*  */
#main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-wrapper{
    display: grid;
    margin: 5rem;
    gap: 1rem;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(6,1fr);
}
.about-box{
    grid-column: 1/span 2;
}
.experience-box{
    grid-row: 1/span 3;
    grid-column: 4/ span 2;

}
.linkedIn-box{
    grid-row: 2  / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 112, 186);
}

.education-box{
    grid-row: 2/span 1;
    grid-column: 2/span 2;
}
.profile-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta-box{
    grid-row: 3;
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.skill-box{
    grid-column: 6;
    grid-row: 1 /span 3;
}
.contact-box{
    grid-row: 3;
    grid-column: 1/span 2;
}


/* inner styling */
.linkedIn-box i{
    font-size: var(--head-font-size);
    color: white;
}
.profile-box img{
    width: 10rem;
}

.education{
    border-bottom: 1px solid black;
}

.education p{
    text-transform: capitalize;
}


.job{
    margin: 2rem 0;
    border-bottom: 1px solid black;
}
.job p{
    font-family: var(--main-font);
    font-weight: 600;
}
.job span{
    font-family: var(--main-font);
    text-transform: uppercase;
}

.job p span{
    color: rgb(83, 87, 86);
}

.insta-box i{
    font-size: var(--head-font-size);
    color: white;
}

.progress-bar{
    height: 2px;
    width: 100%;
    background-color: gray;
}


.contact{
    margin: 1rem 0;
}

.contact p{
    display: inline-block;
    margin: 0 .5rem;
}
.skill{
    margin: 1rem 0;
} 
.skill-box .progress-bar{
    width: 80%;
}
/*  */



/* footer */
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    font-family:'poppins';
}
footer span{
    font-family: "Playwrite HU", cursive;
    font-weight: 500;
    text-transform: capitalize;
}

/* socials */
.socials{
    width: 100%;
    height: 3rem;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.socials a{
    font-size: 1.5rem;
    color: var(--text-color);
}
/* responsive-design */
@media (max-width:1374px){

    :root{
    --head-font-size: 2rem;
    }
    /* home-section */
    #home{
        padding-bottom: 0;
    }
    .pc-home-heading{
        display: none;
        }
    .home-container i{
        display: block;
        }
    .home-container h2{
        display: block;
        }
    .home-container img{
        background: url(assets/blue-background.jpg);
        border-radius: 20px;
        margin-top: 2rem;
        width: 70%;
    }
        /* main-section */
    #main{
        height: fit-content;
    }
    .nav-bar{
        display: none;
    }
    .container{
        min-height: 10rem;
    }
    
    .main-wrapper{
        height: fit-content;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
    }
     .about-box{
        grid-column: 1/ span 2;
        grid-row: 1;
     }
    .profile-box{
        grid-row: 1;
        grid-column: 3;
    }
    .experience-box{
        grid-row: 2;
        grid-column: 2/span 2;
     }
     .education-box{
        grid-row: 3;
        grid-column: 1/span 2;
     }
     .insta-box{
        display: none;
     }
     .linkedIn-box{
        display: none;
     }
     .skill-box{
        grid-row: 2;
        grid-column: 1;
     }
     .contact-box{
        grid-row: 3;
        grid-column: 3;
     }
     
     /* .socials */
     .socials{
        display: flex;
     }
    }

    /*phones*/
    @media(max-width:710px){
        .home-container img{
            width: 70%;
        }
        .main-wrapper{
        height: fit-content;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        margin: 2rem;
    }
    .about-box,.profile-box,.linkedIn-box,.education-box,.experience-box,.insta-box,.contact-box,.skill-box{
        grid-column: 1;
    }
     .about-box{
        grid-row: 1;
        grid-column: 1/span 2;
     }
    .profile-box{
        grid-row: 2;
    }
    .experience-box{
        grid-row: 3;
        grid-column: 1/span 2;
     }
     .education-box{
        grid-row: 4;
        grid-column: 1/span 2;
     }
     .insta-box{
        display: none;
     }
     .linkedIn-box{
        display: flex;
        grid-row: 2;
        grid-column: 2;
     }
     .skill-box{
        grid-row: 5;
        grid-column: 1/span 2;
     }
     .contact-box{
        grid-row: 6;
        grid-column: 1/span 2;
     }
        
    }

    /* landscape-view */
     @media(max-height:675px){
        .home-container img{
            width: 50%;
        }
     }
